@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #fff;
		--foreground: #000;
		--muted1: hsla(0, 0%, 0%, 0.7);
		--muted2: hsla(0, 0%, 0%, 0.5);
		--border: #e6e6e6;
		--input: #d9d9d9;
		--accent: #3c62ff;
		--warning: #fdad00;
		--destructive: #ff4e4e;
		--radius: 0.75rem;
		--sidebar-background: #f6f7fa;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: hsla(0, 0%, 0%, 0.7);
		--sidebar-accent: #eff0f3;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
